.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  

}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: rgb(1, 1, 37) 5px solid;


}

.card img {
    object-fit: cover;
    width: 90%;
    height: 100%;
}
    